{{#> [lib/layout] }}
<h2>POI</h2>
<div>
 <dl>
  <dt>Name</dt>
  <dd id="name">-</dd>
  <!-- -->
  <dt>Address</dt>
  <dd id="address">-</dd>
 </dl>
</div>
<div>
 <p><a id="sheets">Sheets</a></p>
</div>
<div>
 <details>
  <summary>Map</summary>
  <div id="map" style="height: 400px;"></div>
 </details>
</div>
<section>
 <h3>Synthetic answer sheet</h3>
 <div id="sheet"></div>
</section>
{{/ [lib/layout] }}
