{{#> [lib/layout] }}
<h2>POIs</h2>
<div>
 <dt>Total number of POIs</dt>
 <dd id="total">-</dd>
 <h3>List</h3>
 <table border="2">
  <thead>
   <tr>
    <th>Created at</th>
    <th>POI</th>
    <th>Category</th>
    <th>Missing pictures</th>
    <th>Missing answers</th>
   </tr>
  </thead>
  <tbody id="pois">
  </tbody>
 </table>
</div>
{{/ [lib/layout] }}
