<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log This Place</title>
 </head>
 <body>
  <h1>Log This Place</h1>
  <header>
   <nav>
    <h2>Links</h2>
    <ul>
     <li><a href="/">Main</a></li>
     <li><a href="/pois.html">All POIs</a></li>
     <li><a href="/sheets.html">All sheets</a></li>
    </ul>
   </nav>
  </header>
  <main>
   <section>
    {{> @partial-block }}
   </section>
  </main>
 </body>
</html>
